@import url(sanitize.css);

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1eeef; /*背景色*/

    background-color: #F1EEEF;
}

/*******************
*  ヘッダー
*******************/
header {
    width: 100%;
    height: 50px;
    position: fixed; /*固定する*/
    top: 0px;
    background-image: url("../img/header.png"); /*背景*/
    background-size: cover; /*サイズ調整*/

    display: flex; /*中身をflex指定*/
    flex-direction: row; /*子を横に並べる*/
}

.logo01 {
    width: 120px;
    height: 100%;
    margin-top:10px;
    margin-left:60px;
}

     .logo01 img {
         width:100%;
         height:100%;
     }

.logo02 {
    width: 160px;
    height: 60%;
    margin-top: 28px;
    margin-left: 120px;
}

    .logo02 img {
        width: 100%;
        height: 100%;
    }

/*******************
*  見出し
*******************/

h1 {
    width: 400px;
    height: 129px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    /*下からフェードイン*/
    animation-name: H1fadeUpAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

    h1 img {
        width: 100%;
        height: 100%;
    }

/*アニメーション設定*/
@keyframes H1fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*******************
*  コンテンツ
*******************/

.content-outer {
    border-style: solid; /*ボーダーライン*/
    border-radius: 70px; /*丸み具合*/
    border-block-color: #594425; /*ボーダーラインの色*/
    background-color: #FFFFFF;
    width: 900px; /*PC用*/
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex; /*中身をflex指定*/
    flex-direction: column; /*子を縦に並べる*/
    /*下からフェードイン*/
    animation-name: H1fadeUpAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

    .content-outer img {
        width: 380px;
        height: 220px;
    }

.area1 {
    width: 100%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    /*フェードする際に、透明な状態から始める*/
    opacity: 0;
    display: flex; /*中身をflex指定*/
    flex-direction: row; /*子を横に並べる*/
    justify-content: space-around; /*左右の余白を均等割り*/
}

.area2 {
    width: 100%;
    margin-top: 80px;
    margin-bottom:80px; /*一番下のエリアにのみ設定*/
    margin-left: auto;
    margin-right: auto;
    /*フェードする際に、透明な状態から始める*/
    opacity: 0;
    display: flex; /*中身をflex指定*/
    flex-direction: row; /*子を横に並べる*/
    justify-content: space-around; /*左右の余白を均等割り*/
}

/*******************
*  フッター
*******************/
.footer {
    width: 100%;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #8F8C8C;
}

    .footer img {
        width: 20%;
        height: 17%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40%;
        margin-right: 40%;
    }

/*******************
*  フェードの設定
*******************/

/* fadeUp */

.CssfadeUp {
    animation-name: fadeUpAnime;    /*アニメーションの名前を設定*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0; /*透明*/
}

@keyframes fadeUpAnime {
    from {
        opacity: 0; /*透明*/
        transform: translateY(100px);   /*100px下から出現*/
    }

    to {
        opacity: 1; /*不透明*/
        transform: translateY(0);   /*元の位置へ*/
    }
}

/**********************************
*   幅が狭まったときの処理
**********************************/

/*解像度①*/
@media (max-width: 1000px) {

    /*******************
    *  ヘッダー
    *******************/

    .logo01 {
        margin-left: 30px;
    }

    .logo02 {
        margin-left: 60px;
    }

    /*******************
    *  見出し
    *******************/

    h1 {
        width: 533px;
        height: 199.875px;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    /*******************
    *  コンテンツ
    *******************/

    .content-outer {
        width: 533px;
        margin-top: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .area1 {
        width: 100%;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .area2 {
        width: 100%;
        margin-top: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    /*******************
    *  フッター
    *******************/
    .footer {
        width: 100%;
        margin-top: 500px;
        margin-left: auto;
        margin-right: auto;
        background-color: #8F8C8C;
    }

        .footer img {
            width: 25%;
            height: 21%;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 35%;
            margin-right: 35%;
        }
}

/*解像度②*/
@media (max-width: 900px) {
    .logo01 {
        width: 100px;
        height: 80%;
        margin-top: 8px;
        margin-left: 8px;
    }

    .logo02 {
        width: 140px;
        height: 40%;
        margin-top: 20px;
        margin-left: 30px;
    }
}

/*解像度③*/
@media (max-width: 576px) {

    /*******************
    *  ヘッダー
    *******************/

    .logo01 {
        width: 100px;
        height: 80%;
        margin-top: 5px;
        margin-left: 5px;
    }

    .logo02 {
        width: 140px;
        height: 40%;
        margin-top: 14px;
        margin-left: 20px;
    }

    /*******************
    *  見出し
    *******************/

    h1 {
        width: 380px;
        height: 143px;
        margin-top: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    /*******************
    *  コンテンツ
    *******************/

    .content-outer {
        width: 380px;
        margin-top: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .area1 {
        width: 100%;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .area2 {
        width: 100%;
        margin-top: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    /*******************
    *  フッター
    *******************/
    .footer {
        width: 100%;
        margin-top: 350px;
        margin-left: auto;
        margin-right: auto;
        background-color: #8F8C8C;
    }

        .footer img {
            width: 30%;
            height: 25.5%;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 35%;
            margin-right: 35%;
        }
}